.scrolling-wrapper {
  position: relative;
  flex-grow:1;
}

.scrolling-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.rounded-corners{
  border-radius: 10px;
}

.max-height-75{
  max-height: 75vh;
}

.split-left{
  min-width: 400px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
