.scrolling-wrapper {
  position: relative;
  flex-grow:1;
}

.scrolling-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.rounded-corners{
  border-radius: 10px;
}

.circle-image{
  border-radius: 50%;
}

.max-height-75{
  max-height: 75vh;
}

.split-left{
  min-width: 400px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
};